.home-carousel {
	.owl-item {
		position: relative;

		.caption {
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
}
