@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Prata&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.prata {
  font-family: "Prata", serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

code {
  color: #009672;
  font-weight: 600;
}

.mCSB_dragger_bar {
  background-color: #009672 !important;
}

.mCSB_draggerRail {
  opacity: 0 !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background-color: #f9f9f9;
}

.header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.header .navbar .navbar-brand {
  max-width: 100px;
  margin-right: 5rem;
}

.header .navbar .navbar-nav .nav-link {
  font-size: 1.25rem;
  font-family: "Prata", serif;
  padding-right: 1rem;
  padding-left: 1rem;
}

.home-carousel .owl-item {
  position: relative;
}

.home-carousel .owl-item .caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.about {
  background-color: #f3f3f3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about .videoPoster {
  position: relative;
}

.about .videoPoster .video-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  font-size: 25px;
  border-radius: 50%;
  color: #009672;
}

.about .videoContent h2 {
  font-size: 2rem;
  font-family: "Prata", serif;
  margin-bottom: 15px;
}

.about .videoContent p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.about .videoContent p code {
  font-weight: 700;
}

.about .videoContent .more-btn {
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000;
}

.about .videoContent .more-btn i {
  margin-left: 10px;
  color: #009672;
}

.violence {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e8e8e8;
}

.violence h2 {
  font-size: 2rem;
  font-family: "Prata", serif;
  margin-bottom: 50px;
}

@media (max-width: 575.98px) {
  .violence .violence-box:first-child {
    margin-bottom: 50px;
  }
}

.violence .violence-box h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.violence .violence-box p {
  font-size: 1rem;
  line-height: 1.5;
}

.stories {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f3f3f3;
}

.stories h2 {
  font-size: 2rem;
  font-family: "Prata", serif;
  margin-bottom: 25px;
}

.stories p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.stories .grid-section {
  margin-top: 50px;
}

.stories .grid-section .media-box-content {
  top: -50px;
  z-index: 222;
}

.stories .grid-section .media-box-content .video-play-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid #009672;
  color: #009672;
  margin-top: -55px;
  margin-bottom: 15px;
}

.mainModal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mainModal .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1;
}

.mainModal .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 50px;
  background-color: #ffffff;
  z-index: 2;
}

.mainModal .container .modelClose {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: #000000;
}

.mainModal .container h2 {
  font-family: "Prata", serif;
  font-size: 2rem;
  margin-bottom: 25px;
}

.mainModal .container .scrollContent {
  height: 450px;
}

@media (max-width: 575.98px) {
  .mainModal .container .scrollContent {
    height: 330px;
  }
}

.mainModal .container p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 25px;
}

.media {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f3f3f3;
}

.media h2 {
  font-family: "Prata", serif;
  font-size: 2rem;
}

.media .media-box-container:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.media .media-box-container .media-box-image {
  position: relative;
  overflow: hidden;
}

.media .media-box-container .media-box-image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media .media-box-container .media-box-image .overlay .video-play-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid #009672;
  color: #009672;
}

.media .media-box-container .media-box-content .media-box-text {
  margin-bottom: 0 !important;
}

.media .media-box-container .media-box-footer {
  background: #009672 !important;
  color: #ffffff;
}

.media .media-box-container .media-box-footer .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media .media-box-container .media-box-footer .footerContent a {
  color: #ffffff;
  font-weight: 600;
}

.media .media-box-container .media-box-footer .footerContent .socialshare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media .media-box-container .media-box-footer .footerContent .socialshare a {
  font-size: 18px;
  margin: 0 6px;
}

.sensetiveRange {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.sensetiveRange h2 {
  font-family: "Prata", serif;
  font-size: 2rem;
  margin-bottom: 50px;
}

@media (max-width: 575.98px) {
  .sensetiveRange .productSlider .owl-stage {
    padding-left: 0 !important;
  }
}

.sensetiveRange .productSlider .item {
  border: 1px solid #d1d1d1;
}

.sensetiveRange .productSlider .item .actions {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sensetiveRange .productSlider .item .actions .order-now {
  background-color: #009672;
  padding: 5px 15px;
  color: #ffffff;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #ffffff;
}

.sensetiveRange .productSlider .item .actions .order-now:hover {
  background-color: #ffffff;
  color: #009672;
  border: 1px solid #009672;
}

.sensetiveRange .productSlider .item .imageWrapper {
  position: relative;
}

.sensetiveRange .productSlider .item .imageWrapper img {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sensetiveRange .productSlider .item .imageWrapper img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.sensetiveRange .productSlider .item .imageWrapper:hover .hover-img {
  opacity: 1;
}

.sensetiveRange .productSlider .item .imageInfo {
  background-color: #ffffff;
  padding: 15px;
}

.sensetiveRange .productSlider .item .imageInfo h3 {
  font-family: "Prata", serif;
  font-size: 1.4rem;
  color: #009672;
  line-height: 1.3;
  margin-bottom: 15px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sensetiveRange .productSlider .item .imageInfo p {
  font-size: 1rem;
  line-height: 1.3;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ebf8ee;
}

.footer .gridWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .gridWrapper .columns {
  padding: 15px;
}

.footer .gridWrapper .columns h5 {
  font-family: "Prata", serif;
  margin-bottom: 15px;
}

.footer .gridWrapper .columns ul li {
  margin-bottom: 10px;
}

.footer .gridWrapper .columns ul li a {
  color: #000;
}

.footer .gridWrapper .columns p {
  font-size: 12px;
  line-height: 1.3;
  margin-top: 10px;
}
/*# sourceMappingURL=styles.css.map */